html, body {
    background-color: #1E1E1E;
    font-family: 'Roboto', sans-serif;
    
    width: 100%;
    height: 100%;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    width: 30%;
    height: 6vh;
    min-height: 35px;
    max-width: 300px;
    padding: .375rem .75rem;
    font-size: 0.75rem;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 1.5;
    border-radius: .25rem;
    text-decoration: none;
    /*transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/
    /*transition-property: color, background-color, border-color, box-shadow;*/
    /*transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;*/
    /*transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;*/
    /*transition-delay: 0s, 0s, 0s, 0s;*/
}

.main-button:hover {
    opacity: 0.50;
}

#chat-container {
    /*position: absolute;*/
}

#chat-area {
    /*overflow-y: scroll;*/
}

#chat-input input {
    border: none;
    color: white;
    outline: none;
    background-color: #252526;
}

.msg-container {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 8px 20px 20px 8px;
	color: black;
	background-color: #82ccdd;
	padding: 7px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}

.msg-container-send {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	border-radius: 20px 8px 8px 20px;
	background-color: #78e08f;
	padding: 7px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}

.msg-container-admin {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 25px;
	background-color: #E53A3A;
	padding: 7px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}

.msg-header {
    color: black !important;
    font-size: 12px;
    font-weight: bold;
}

.video-wrapper {position: relative; padding-bottom: 56.25%; /* 16:9 */  padding-top: 25px;}
.video-wrapper iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
