html, body {
    background-color: #1E1E1E;
    font-family: 'Roboto', sans-serif;
    
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #252526;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #252526;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    width: 30%;
    height: 6vh;
    min-height: 35px;
    max-width: 300px;
    padding: .375rem .75rem;
    font-size: 0.75rem;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 1.5;
    border-radius: .25rem;
    text-decoration: none;
    /*transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/
    /*transition-property: color, background-color, border-color, box-shadow;*/
    /*transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;*/
    /*transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;*/
    /*transition-delay: 0s, 0s, 0s, 0s;*/
}

.main-button:hover {
    opacity: 0.50;
}

#chat-container {
    min-height: 30vh;
    max-height: 100%;
    position: absolute;
}

#chat-area {
    height: 90%; 
    max-height: 90%;
    overflow-y: scroll;
}

/*@media (max-width: 1170px) { */
/*    #chat-container {*/
/*        min-height: 30vh;*/
/*        max-height: 30vh;*/
/*        padding-right: 0;*/
/*        padding-left: 0;*/
/*        margin-top: 10px;*/
/*        position: relative;*/
/*    }*/
/*}*/

/*#chat-area {*/
/*    overflow-y: auto;*/
/*}*/


#main-container {
    display: flex;
    flex-direction: column;
}

#main-row-nav .bg-dark {
    background-color: #202020 !important; 
}

#main-row-body {
    flex-grow: 1;
}

#body-wrapper {
    flex-grow: 1;
    max-height: 100%;
    overflow-y: hidden;
}

#video-wrapper {
    min-height: 45%;
    background-color: black;
}


#video-wrapper div {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}

/* 16:9 */  
/*.video-wrapper {position: relative; padding-bottom: 56.25%; padding-top: 25px;} */
#video-wrapper {position: relative;} 
#video-wrapper iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

#side-wrapper {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-height: 55%;
}

#chat-navbar {
    background-color: #202020;
    border-bottom: solid 1px #E53A3A; 
    margin-bottom: 5px;
}

#chat-area {
    background-color: #181818;
}

.row .tab-content {
    flex-grow: 1;
    overflow: hidden;
}

@media (max-width: 600px) {
    #main-row-nav {
        display: none;
    }
    
    /*#body-wrapper {*/
    /*    height: 95%;*/
    /*}*/
    
    #video-wrapper {
        height: 45%;
    }
    
    #side-wrapper {
        height: 55%;
    }
}


#chat-input input {
    border: none;
    color: white;
    outline: none;
    background-color: #252526;
}

.msg-container {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	/*border-radius: 8px 20px 20px 8px;*/
	border-radius: 8px;
	background-color: #74B5C4;
	padding: 7px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}

.msg-container-send {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	/*border-radius: 20px 8px 8px 20px;*/
	border-radius: 8px;
	background-color: #69C47D;
	padding: 7px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}

.msg-container-admin {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 25px;
	background-color: #E53A3A;
	padding: 7px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}

.msg-header {
    color: black !important;
    font-size: 12px;
    font-weight: bold;
}

/*#chat-tab {*/
/*    color: white;*/
/*    background-color: rgb(52, 58, 64);*/
/*}*/

.nav-tabs .nav-link {
    color: white;
    background-color: #871212;
    border: none;
}

/*.nav-tabs .nav-link:not(.active):hover {*/
/*    background-color: white !important;*/
/*    border: medium none;*/
/*    border-radius: 0;*/
/*    color: black;*/
/*}*/

.nav-tabs .nav-link:hover {
    background-color: white !important;
    border: medium none;
    color: black !important;
}

.nav-tabs .nav-link.active {
    color: white;
    background-color: #E53A3A;
    outline: none;
    border:none;
}

/*.nav-tabs > li > a:hover{*/
    
/*}*/


/* https://css-tricks.com/snippets/css/glowing-blue-input-highlights/ */
input[type=text]:not(.form-control), textarea {
  -webkit-transition: all  0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  /*margin: 5px 1px 3px 0px;*/
  border: 1px solid white;
}
 
input[type=text]:not(.form-control):focus, textarea:focus {
  box-shadow: 0 0 5px white;
  padding: 3px 0px 3px 3px;
  /*margin: 5px 1px 3px 0px;*/
  border: 1px solid white;
}

.overlay {
    position: relative;
    display: flex !important;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.loader {
    margin: auto;
    position: relative;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #E53A3A; /* Blue */
    border-radius: 50%;
    width: 75px;
    height: 75px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.circle {
    background-color: white;
    border-radius: 25px;
    width: 25px;
    color: black;
    font-size: 90%;
    font-weight: bold;
    justify-content: center;
    margin: auto;
}

/*-------------------------------------TEST CSS FOR DISPLAYING RESULTS-------------------------------------*/

#search-container {
    width: 100%;
    /*background-color: #1E1E1E;*/
    background-color: #252526;
    border-bottom: 1px solid red;;
}

#search-container input{
    border: none;
    outline: none;
 /*   padding-left: 10px;*/
	/*padding-right: 10px;*/
 /*   margin-left: 10px;*/
	/*margin-right: 10px;*/
 /*   width: 100%;*/
    /*height: 100%;*/
    color: white;
    background-color: #252526;
}

.result-container {
    overflow-y: auto;
    background-color: #191919;
}

.card {
    width: 100%;
    /*height: 100px;*/
    /*height: 1%;*/
    background-color: #191919;
    overflow: hidden;
}

.card:hover {
    cursor: pointer;
}

.card-title {
    margin: 0 0 4px 0;
    display: -webkit-box;
    max-height: 3.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    font-size: 1.0rem;
    color: white;
}

.card-footer {
    background-color: #252526;
}

/** {*/
/*outline: 1px solid red;*/
/*}*/